<?xml version="1.0"?>
<config>
    <global>
        <models>
            <cloudFlare_base>
                <class>CloudFlare_Base_Model</class>
            </cloudFlare_base>
        </models>
        <helpers>
            <cloudFlare_base>
                <class>CloudFlare_Base_Helper</class>
            </cloudFlare_base>
        </helpers>
        <events>
            <controller_front_init_before>
                <observers>
                    <cloudFlare_base>
                        <class>cloudFlare_base/observer</class>
                        <type>singleton</type>
                        <method>frontInitBefore</method>
                    </cloudFlare_base>
                </observers>
            </controller_front_init_before>
            <catalog_product_save_commit_after>
                <observers>
                    <cloudFlare_base>
                        <class>cloudFlare_base/observer</class>
                        <type>singleton</type>
                        <method>productSaveCommitAfter</method>
                    </cloudFlare_base>
                </observers>
            </catalog_product_save_commit_after>
            <sales_model_service_quote_submit_success>
                <observers>
                    <cloudFlare_base>
                        <class>cloudFlare_base/observer</class>
                        <type>singleton</type>
                        <method>quoteSubmitSuccess</method>
                    </cloudFlare_base>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>
        <remote_addr_headers>
           <cloudFlare_header>HTTP_CLOUD_FLARE_HEADER</cloudFlare_header>
        </remote_addr_headers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <cloudflare>
                    <file>cloudflare.xml</file>
                </cloudflare>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <CloudFlare_Base before="Mage_Adminhtml">CloudFlare_Base_Adminhtml</CloudFlare_Base>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
